.AlignNavbar
  display flex
  align-items center
  flex-flow row wrap
.AlignItemsNavbar
  display flex
  justify-content center
.Header-container
  background-color #212121
  color white
.Header-container .navbar-toggle
  color white
  font-weight bold
  font-size 25px
.Login-navbar
  margin-left 1em
.Header-container .Login-navbar, .SignUp-navbar
  font-weight bold
  font-size 18px
  text-decoration none !important
.Header-containerAlignV
  display flex
  align-items center
.Header-containerAlignV > div > h1
  margin-top 0
  margin-bottom 0
.IconSearch
  font-size
.Titulo
  display flex

.Titulo-uno
  color #fff
  font-weight bold
  text-decoration none !important
  font-size 24px

.Titulo-dos
  font-size 24px
  text-decoration none !important

.Titulo-logo
  height 45px
  width 72px
  vertical-align top

.Titulo-uno:hover, .Titulo-dos:hover
  text-decoration none
  color white

.Perfil
  background-color white

input.form-control:focus
  border-color #99c84a
.NavbarMargin
  margin-bottom 0
.MenuContainer
  background-color #f7f7f9
.btn.Btn-search
  background-color #2980B9
  color white
.btn.Btn-adsi:hover
  background-color #8ab542
.search-bar
  padding-top 20px
  margin-bottom 1em
li.active a:focus
  background-color inherit
.DropdMenu
  min-width 122px !important

@media (max-width: 992px)
  .MarginSearch-margin
    padding-bottom 20px
@media (max-width: 765px)
  .MarginTopSearch
    padding-top 20px
@media (max-width: 991px)
  .Media-btn
    height 33px
@media (max-width: 991px)
  .Btn-search
    height 34px
@media (max-width: 526px)
  .navbar-brand
    padding 0px 15px
  .navbar-toggle
    padding 0px 10px
