/*Body Styl*/
body,h1,h2,h3,h4,h5,h6
  font-family "Lato", sans-serif
h1,h2,h3,h4,h5,h6
  color:#2b2525


body, html
  font-size 16px
  height 100%
  color #777
  line-height 1.8

/*Parallax Styl*/
.Parallax-1
  background-image url(https://static.pexels.com/photos/33972/pexels-photo.jpg)
  min-height 100%

.Parallax-2
  background-image url(https://static.pexels.com/photos/541525/pexels-photo-541525.jpeg)
  min-height 400px

.Parallax-3
  background-image url(https://static.pexels.com/photos/288477/pexels-photo-288477.jpeg)
  min-height 400px
  position relative

.Parallax-1, .Parallax-2, .Parallax-3
  opacity 0.75
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover

.Parallax-1-title
  animation opac 0.8s
  color: #fff!important
  background-color #000!important
  padding 12px 24px!important
  font-size 24px!important

.Parallax-2-title
  animation opac 0.8s
  background-color #000!important
  color #fff!important
  font-size 24px!important
  letter-spacing 4px
  padding 12px 24px!important

.Parallax-3-content
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

.Parallax-3-tittle
  animation opac 0.8s
  background-color #000 !important
  color #fff !important
  font-size 40px !important
  letter-spacing 4px
  padding 12px 24px !important

.bgimg-2
  background-image: url(https://static.pexels.com/photos/541525/pexels-photo-541525.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;


  /*About Styl*/
.About
  max-width 980px
  margin auto
  padding-top 64px!important
  padding-bottom 64px!important

.About-logo-div
  padding 12px 24px!important
  text-align center!important

.About-logo
  height auto
  opacity 0.60
  max-width 100%

.About-devices
  padding 12px 24px!important

/*Benefices Styl */
.Benefices
  color #2b2525
  padding-top 16px!important
  padding-bottom 16px!important
  text-align center
  padding-top 16px!important
  padding-bottom 16px!important
  text-align center

.Benefices-wide
  letter-spacing 4px

.Benefices-wide-barr
  color #000!important
  background-color #f1f1f1!important

.Benefices-container-100, .Benefices-container-90, .Benefices-container-80, .Benefices-container-70
  background-color #616161!important
  color #fff!important
  padding 4px 8px!important
  text-align center!important

.Benefices-container-100
  width 100%

.Benefices-container-90
  width 90%

.Benefices-container-80
  width 80%

.Benefices-container-70
  width 70%

.Benefices-barr-row
  background-color #616161!important
  color #fff!important
  padding-top 16px!important
  padding-bottom 16px!important
  text-align center!important
  font-weight 600
  font-size 21px

.Benefices-barr-section
  margin-top 16px!important
  margin-bottom 16px!important

.Benefices-barr-section-border
  margin-top 16px!important
  margin-bottom 16px!important

.Benefices-barr-text
  font-size 24px!important


.Container-flex
  height 850px

.Container-flex-2
  height 700px

.Photo-grid
  padding 0 8px
  margin-top 3em

.TittleC
  color #2a6496
  font-size 20px
  height 4em
@media(max-width 991px)
  .TittleC
    height 110px

@media(max-width 991px)
  .TittleC
    height 135px


/*Photo Grid Styl*/
.Photo-grid-container
  margin-bottom 16px!important
  padding 0.01em 16px
.Photo-grid-img
  width 100%

.Photo-grid-img-text
  background-color #fff!important
  /*color #000!important*/
  padding 1em 16px

@media (max-width 991px)
  .Photo-grid-img-text
    padding 0


.Photo-grid-second
  padding 0 8px

.Photo-grid-second-img
  width 100%

/*Our Services Styl*/

.MarginTop
  margin-top 26em

 /*Pricing Tables Styl*/
.PricingTables
  content ""
  display table
  clear both
  padding  0 8px
  margin 0 0px
  width 100%
.PricingTables-hoover:hover
  background-color black
  transition:All 0.7397s ease-in;

.PricingTables-Padding
  border-bottom: 1px solid #ddd;
  padding-top 16px !important
  padding-bottom 16px !important
.PricingTables-MarginBottom
  margin-bottom 16px !important
.PricingTables-Ul
  color #000 !important
  background-color #fff !important
  border 1px solid #ccc !important
  opacity 0.60
  list-style-type none
  padding 0
  margin 0
.PricingTables-Title, .PricingTables-Title2, .PricingTables-Title3
  padding 8px 16px
  border-bottom 1px solid #ddd
  color #fff!important
  background-color #000!important
  padding-top 32px!important
  padding-bottom 32px!important
  font-size 24px!important
.PricingTables-Opacity
  opacity 0.60
.PricingTables-Padding24
  padding-top 24px!important
  padding-bottom 24px!important
  color #000!important
  background-color #f1f1f1!important
.PricingTables-Button
  padding 12px 24px!important
  border none
  display inline-block
  text-decoration none
  cursor pointer
  white-spac: nowrap
.PricingTables-Background
  color #fff!important
  background-color #009688!important
.PricingTables-Title2
  background-color #009688!important

.Packages
  font-size 42px
  margin-bottom 19px


/*Contact Styl*/
.Contact-section
  padding 0.01em 16px
  padding-top 64px!important
  padding-bottom 64px!important
  padding 0.01em 16px
  max-width 980px
  margin auto

.Contact-row-section
  padding-top 32px!important
  padding-bottom 32px!important
  margin-top 16px!important
  margin-bottom 16px!important

.Contact-map
  border 0
  width 100%
  height 400px

.Contact-panel
  margin-top 16px
  margin-bottom 16px
  padding 0.01em 16px

.Contact-icons
  font-size 18px!important
  margin-bottom 16px!important

.scroll-to-top
    position fixed
    bottom 10px
    display block !important
    width 40px
    height 40px
    color #ffffff
    background #043347
    font-size 12px
    line-height 36px
    border 1px solid #D6D3B0
    text-align center
    z-index 100
    cursor pointer
    display none
    border-radius 30px

.TittleG
  color #2a6496
  font-size 49px
  font-weight bold

.Contenido-item
  display flex
  aling-items stretch
  flex-direction column

/*RESPONSIVE*/
@media only screen and (max-width: 836px) {
  .Parallax-3-tittle{
    display table-row-group
  }
    }


@media only screen and (max-width: 836px) {
  .Parallax-3-content{
    display inline-table
  }
    }

@media only screen and (max-width: 426px) {
  .Parallax-3-content{
    display inline-table
  }
    }


@media only screen and (max-width: 600px) {
  .Benefices-barr-section{
    border-top 2px solid #ffff
  }
    }


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .Parallax-1, .Parallax-2, .Parallax-3{
        background-attachment: scroll;
    }
}

/* SLIDE */
@media only screen and (max-width: 750px) {
  .snow{
    display: none;
  }
  .imagesnow{
    display: block;
    background-image: url(/assets/images/#1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
