.About-section
    background-image url(https://static.pexels.com/photos/533405/pexels-photo-533405.jpeg)
    position relative
    padding 100px 0px
    text-align center
    background-size cover
    background-repeat no-repeat
    background-position center center
    color #D6D3B0
    &:before
        content ''
        position absolute
        left 0px
        top 0px
        width 100%
        height 100%
        background rgba(38,43,47,0.70)

.down-arrow
    position absolute
    left 0px
    bottom -23px
    display block
    width 100%
    height 46px
    z-index 1
    cursor pointer

.Default-section
    position relative
    padding 80px 0px 20px

.Auto-container
    position static
    max-width 1200px
    padding 0px 15px
    margin 0 auto

.Sec-title
    margin-bottom 30px

.Default-title
    font-size 20px
    margin-bottom 5px
    color #2b2525

.text-uppercase
    text-transform uppercase !important

.Theme-subtitle
    font-size 13px
    color #036975

.Parrafo
    position relative
    line-height 2.2em

.progress-levels
    .progress-box
        position relative
        margin-bottom 100px
        &.animated
            .bar
                .bar-fill
                    left 0px
            .percent
                opacity 1
        .bar
            .bar-fill
                left -100%
                top 0px
                width 0px
                height 5px
                background #85A796
                border-radius 2px
                transition all 2000ms ease 300ms
                -moz-transition all 2000ms ease 300ms
                -webkit-transition all 2000ms ease 300ms
                -ms-transition all 2000ms ease 300ms
                -o-transition all 2000ms ease 300ms
        .percent
            position absolute
            right 0px
            width 50px
            height 24px
            text-align center
            background #043347
            top 8px
            font-size 11px
            color #D6D3B0 !important
            border-radius 3px
            line-height 24px
            opacity 0
            transition all 2000ms ease 700ms
            -moz-transition all 2000ms ease 700ms
            -webkit-transition all 2000ms ease 700ms
            -ms-transition all 2000ms ease 700ms
            -o-transition all 2000ms ease 700ms

.Box-title
    position relative
    font-size 13px
    color #036975
    text-transform uppercase
    margin-bottom 12px

.Width-100
    width 100% !important

.Width-90
    width 90% !important
