<div layout="column" ng-cloak class="container text-center Layout-form  Create-layout">
  <div class="panel panel-default Panel-style col-xs-12 col-sm-12 col-md-12 ">
    <div class="panel-heading">
      <h3 class="text-center Create-formTitle ">Creat Your Account</h3>
    </div>
    <div class="panel-body">
        <md-content layout-padding class="Create-form">
          <form name="companyForm" class="centered-form form-group" novalidate="">
            <div layout-gt-sm="row">
              <!-- NIT //-->
             <div class="Create-formSelect">
               <md-input-container class="md-block" flex-gt-sm>
                 <label>NIT</label>
                 <input name="social" ng-model="vm.company.nit" ng-pattern="/^[0-9]{1,20}$/" />
                 <div ng-messages="companyForm.social.$error">
                   <div ng-message="pattern">###-##-#### - Please enter a valid Nit.</div>
                 </div>
               </md-input-container>
             </div>
             <div flex="5" hide-xs hide-sm>
               <!-- Spacer //-->
             </div>
              <!-- Razon Social //-->
              <div class="Create-formInpu">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Razon Social</label>
                  <input type="text" class="Text-capitalize" md-maxlength="30" maxlength="30" required name="name" ng-pattern="/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/" ng-model="vm.company.razonSocial" />
                  <div ng-messages="companyForm.razonSocial.$error">
                    <div ng-message="required">Name is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    <div ng-message="pattern">Only letters.</div>
                  </div>
                </md-input-container>
              </div>
              <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
              </div>
              <!-- Nombre Comercial //-->
              <div class="Create-formInpu">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Nombre Comercial</label>
                  <input md-maxlength="30" required name="NombreComercial" ng-pattern="/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/" ng-model="vm.company.nombreComercial" />
                  <div ng-messages="companyForm.NombreComercial.$error">
                    <div ng-message="required">Last Name is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    <div ng-message="pattern">Only letters.</div>
                  </div>
                </md-input-container>
              </div>
              <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
              </div>
              <!--Representante Legal-->
              <div class="Create-formInpu">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Representante Legal</label>
                    <input type="text" class="Text-capitalize" md-maxlength="30" maxlength="30" required name="name" ng-pattern="/^([A-ZÁÉÍÓÚ]{1}[a-zñáéíóú]+[\s]*)+$/" ng-model="vm.company.representanteLegal" />
                    <div ng-messages="companyForm.representanteLegal.$error">
                      <div ng-message="required">Name is required.</div>
                      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                      <div ng-message="pattern">Only letters.</div>
                    </div>
                  </md-input-container>
                </div>
                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>
            </div>|
            <div layout-gt-sm="row">
               <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
              </div>
              <!-- PHONE NUMBER //-->
              <md-input-container class="md-block" flex-gt-sm>
                <label>Contácto</label>
                <input name="phone" ng-model="vm.company.contacto" ng-pattern="/^[0-9]{1,20}$/" />
                <div ng-messages="companyForm.phone.$error">
                  <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
              </md-input-container>
            </div>
            <!--EXT-->
            <md-input-container class="md-block" flex-gt-sm>
              <label>EXT</label>
              <input name="ext" ng-model="vm.company.ext" ng-pattern="/^[0-9]{1,20}$/" />
              <div ng-messages="companyForm.ext.$error">
                <div ng-message="pattern">(###) ###-#### - Please enter a valid  ext number.</div>
              </div>
            </md-input-container>
          </div>
          <!--Email-->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input name="email" ng-model="vm.company.email" required minlength="10" maxlength="100" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" />
            <div ng-messages="companyForm.email.$error">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
          <!--Contraseña-->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Contraseña</label>
            <input name="social" type="password" ng-model="vm.company.password" />
          </md-input-container>
          <div layout="row" layout-sm="column" layout-align="center center">
              <!--Ciudades-->
              <div class="Create-formInpu">
               <md-autocomplete flex required md-selected-item-change="vm.selectedItemChange(vm.selectedItem)" md-selected-item="vm.selectedItem" md-input-name="autocompleteField" md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.description" md-require-match md-floating-label="Citys">
                 <md-item-template>
                   <span class="item-title">
                        <span> <strong>{{item.description}} </span>
                   </span>
                   <span class="item-metadata">
                        <span>
                          {{item.idDepartaments.description}}</strong>
                        </span>
                   </span>
                 </md-item-template>
                 <div ng-messages="companyForm.autocompleteField.$error" ng-if="companyForm.autocompleteField.$touched">
                   <div ng-message="required">You <b>must</b> have a favorite state.</div>
                   <div ng-message="md-require-match">Please select an existing state.</div>
                   <div ng-message="minlength">Your entry is not long enough.</div>
                   <div ng-message="maxlength">Your entry is too long.</div>
                 </div>
               </md-autocomplete>
             </div>
              <!--md-button ng-click="vm.createUser()" type="submit" class="Btn-save" title="Crear Usuarios" aria-label="Crear Usuarios">
                <md-icon md-font-icon="fa-floppy-o" class="fa md-primary md-hue-2">
                  Guardar
                </md-icon>
              </md-button-->
             <button class="Create-formButton"  data-target="#pwdModal" data-toggle="modal" ng-click="vm.createCompany()" type="submit" ng-disabled="companyForm.$invalid">Create Account</button>
             <div class="modal face" id="pwdModal" ng-if="vm.carga">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h1 class="text-center">Por favor espere un momento</h1>
                     <md-progress-circular md-mode="indeterminate" ng-show="vm.isLoading"></md-progress-circular>
                   </div>
                 </div>
               </div>
             </div>
          </div>
        </form>
      </md-content>
    </div>
  </div>
</div>
