<div id="sgedi-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#sgedi-touch-slider" data-slide-to="0" class="active"></li>
    <li data-target="#sgedi-touch-slider" data-slide-to="1"></li>
    <li data-target="#sgedi-touch-slider" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper For Slides -->
  <div class="carousel-inner" role="listbox">
    <!-- Third Slide -->
    <div class="item active">
      <!-- Slide Background -->
      <img src="assets/images/img-slideshow/slider4.jpeg" alt="" class="slide-image" />
      <div class="bs-slider-overlay"></div>
      <div class="container">
        <div class="row">
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_left">
            <h1 data-animation="animated zoomInRight"><span>Your Documents In The Best Hands.</span></h1>
            <p data-animation="animated fadeInLeft">SGDI Guarantees The Security Of Your Information.</p>
            <!--a href="" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
            <a href="" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a-->
          </div>
        </div>
      </div>
    </div>
    <!-- End of Slide -->
    <!-- Second Slide -->
    <div class="item">
      <!-- Slide Background -->
      <img src="assets/images/img-slideshow/slider7.jpeg" alt="" class="slide-image" />
      <div class="bs-slider-overlay"></div>
      <!-- Slide Text Layer -->
      <div class="slide-text slide_style_center">
        <h1 data-animation="animated flipInX"><span>Intelligent, Easy And Fast Documentary Management.</span></h1>
        <p data-animation="animated lightSpeedIn">Transform Your Document Management.</p>
        <!--a href="" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">select one</a>
        <a href="" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">select two</a-->
      </div>
    </div>
    <!-- End of Slide -->
    <!-- Third Slide -->
    <div class="item">
      <!-- Slide Background -->
      <img src="assets/images/img-slideshow/slider6.jpg" alt="" class="slide-image" />
      <div class="bs-slider-overlay"></div>
      <!-- Slide Text Layer -->
      <div class="slide-text slide_style_right">
        <h1 data-animation="animated zoomInLeft"><span>Online Documentary Management for Real Life</span></h1>
        <p data-animation="animated fadeInRight">The smartest way to work with documents.</p>
        <!--a href="" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
        <a href="" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">select two</a-->
      </div>
    </div>
    <!-- End of Slide -->
  </div>
  <!-- End of Wrapper For Slides -->
  <!-- Left Control -->
  <a class="left carousel-control" href="#sgedi-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
  <!-- Right Control -->
  <a class="right carousel-control" href="#sgedi-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
</div>
<!-- End  sgedi-touch-slider Slider -->
