.TittleG
    font-weight bold
    font-size 49px
    color #2a6496

.Services
    background-size cover
    background-attachment fixed
    h3
        color #FFFFFF
    span
        width 20%
        height 1%
        background #fff
        position absolute
        text-align center
        left 40%
    padding-bottom 4em
        
.Services-grids
    margin-top 5em

.Services-bottom-grids
    margin-top 6em

.W3l-heading
    h3
        font-size 35px
        text-align center
        margin-bottom 1em
        text-transform uppercase
        color #000

.Wthree-services-grid
    text-align center
    padding 0 10px
    &:hover
        .Wthree-services-info
            h5
                color black
            p
                color black

.Wthree-services-icon i.fa.fa-desktop,.Wthree-services-icon i.fa.fa-clone,.Wthree-services-icon i.fa.fa-navicon,.Wthree-services-icon i.fa.fa-pencil-square-o,.Wthree-services-icon i.fa
    font-size 2em
    border-radius 0%
    -webkit-border-radius 0%
    -moz-border-radius 0%
    -ms-border-radius 0%
    -o-border-radius 0%
    transition 0.5s all
    -webkit-transition 0.5s all
    -o-transition 0.5s all
    -moz-transition 0.5s all
    -ms-transition 0.5s all
    transform rotate(45deg)

.Wthree-services-icon
    transform rotate(-45deg)
    padding 2em
    width 90px
    height 90px
    color #808489
    background none
    border solid 2px #808489
    border-width 2px
    margin 0 auto 3em
    transition 0.5s all
    -webkit-transition 0.7s all
    -o-transition 0.7s all
    -moz-transition 0.7s all
    -ms-transition 0.7s all

.Wthree-services-info
    h5
        color #808489
        font-size 1.2em
        text-transform uppercase
        font-weight 700
        letter-spacing 4px
        margin 1em 0
        transition 0.5s all
        -webkit-transition 0.5s all
        -o-transition 0.5s all
        -moz-transition 0.5s all
        -ms-transition 0.5s all
    p
        color #808489
        font-size 14px
        text-transform capitalize
        letter-spacing .3px
        line-height 1.8em
        margin 0
        margin-top 2.5em
        transition 0.5s all
        -webkit-transition 0.5s all
        -o-transition 0.5s all
        -moz-transition 0.5s all
        -ms-transition 0.5s all

.Wthree-services-grid:hover .Wthree-services-icon,.Wthree-services-grid:hover .Wthree-services-icon,.Wthree-services-grid:hover .Wthree-services-icon,.Wthree-services-grid:hover .Wthree-services-icon
    background #428bca
    border solid 2px #428bca
    color black


@media (max-width: 1091px)
  .Responsive
    padding-top 3em