
.centered-form .panel
	background rgba(255, 255, 255, 0.8)
	box-shadow rgba(0, 0, 0, 0.3) 20px 20px 20px

.alert-danger
	border 1px solid #D8000C
	background-color: #FFBABA
	color #D8000C
	border-radius 3px
	padding 10px
	margin-top 10px
	display block
.Btn-save
    margin-top 40px
    background-color #4a89dc
    height 48px
    color #fff
    -webkit-appearance button !important

.Create-layout
    text-align center
    background-position center
    background-size cover
.Create-form
    display inline-block
    padding 40px 50px
    border-radius 20px
    width 100%
    text-align center
    background-color white

.Text-capitalize{
    text-transform capitalize
}

.Panel-style{
    margin-top 4em
}
