.Documents-container
  margin 0
  width 100%
.upload:hover
	cursor pointer
	h3		
		color green
.folder:hover
  i
    color #dfaf1f
.doc:hover
  i
    color #1f469b
.docx:hover
  i
    color #1f469b
.pdf:hover
  i
    color #ad1821
 
.Botons
  text-align center

.Doc
  padding 2em