.profile-img
    width 136px !important

.login
    margin-top 4em
    text-align center

h1
    font-weight 300
    color #636363

.inputIconDemo
    min-height 48px

md-input-container
    &:not(.md-input-invalid)
        & > md-icon
            &.email
                color green
            &.name
                color #4a89dc
    &.md-icon-float
        margin-bottom 10px

md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name
    color red

md-input-container ng-messages,
md-input-container [ng-messages]
    padding-left 36px

.md-button
    &.md-raised
        &:not([disabled])
            width 90%
            background-color #4a89dc
            height 48px
            color white

.md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover
    background-color #357DDC
.Login
    padding 10px
    margin 40px auto 80px auto
    width 400px
    height 460px
    background white
    box-shadow 0 1px 5px 0 rgba(0,0,0,0.26)
    & > i
        width 20px
        height 20px
        border-radius 50%
        float right
        cursor pointer

.Footer-login
    bottom 0
    width 100%
    height 30px
    margin-left -10px
    line-height 29px
    text-align center
    cursor pointer
.Text-decorecion
    text-decoration none !important

.modal-backdrop
  z-index 1
  position relative
.Login-header
    margin-bottom: 1em;
    width 100%
    height 80px
    box-shadow 0 2px 5px 0 rgba(0,0,0,0.26)
    background rgb(16%, 50%, 73%) !important
    font-size 30px
    color rgb(242, 251, 253)
    text-align center
    line-height 75px

.CheckBox
  display flex
  justify-content center

.Check
  margin-left .5em
